<a href="https://colab.research.google.com/github/JulianBeaupre/jube1/blob/master/Python_Exercise_1_Basic_Ad_Analyses.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

DATA_URL = 'http://128.138.93.164/aprd6342/data/TravelPonyFacebook.csv'
df = pd.read_csv(DATA_URL)

In [0]:
df.head()

   Start Date  ... Cost per Page Engagement (USD)
0  2013-12-02  ...                       1.219512
1  2013-12-01  ...                       1.395349
2  2013-11-30  ...                       1.190476
3  2013-11-29  ...                       1.167315
4  2013-11-22  ...                       2.512857

[5 rows x 20 columns]

In [0]:
!pip install arrow

Requirement already satisfied: arrow in /usr/local/lib/python3.6/dist-packages (0.15.4)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.6/dist-packages (from arrow) (2.6.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil->arrow) (1.12.0)

ADD COST PER IMPRESSION COLUMN TO DATABASE

In [0]:
CPI = df['Amount Spent (USD)']/df['Impressions']
CPI

0       0.000466
1       0.000652
2       0.000448
3       0.000452
4       0.002464
          ...
3700    0.003512
3701    0.002936
3702    0.008919
3703    0.006643
3704    0.000439
Length: 3705, dtype: float64

In [0]:
df['CPI'] = CPI
df

      Start Date    End Date  ... Cost per Page Engagement (USD)       CPI
0     2013-12-02  2013-12-02  ...                       1.219512  0.000466
1     2013-12-01  2013-12-01  ...                       1.395349  0.000652
2     2013-11-30  2013-11-30  ...                       1.190476  0.000448
3     2013-11-29  2013-11-29  ...                       1.167315  0.000452
4     2013-11-22  2013-11-22  ...                       2.512857  0.002464
...          ...         ...  ...                            ...       ...
3700  2013-06-11  2013-06-11  ...                       1.050000  0.003512
3701  2013-06-10  2013-06-10  ...                       0.533333  0.002936
3702  2013-06-09  2013-06-09  ...                       0.990000  0.008919
3703  2013-06-08  2013-06-08  ...                       0.316667  0.006643
3704  2013-06-07  2013-06-07  ...                       0.000000  0.000439

[3705 rows x 21 columns]

EXTRACT DAY OF THE WEEK

In [0]:
df['Start Date']=pd.to_datetime(df['Start Date'])
df['weekday']= df['Start Date'].apply(lambda time: time.strftime('%A'))
df

     Start Date    End Date  ...       CPI   weekday
0    2013-12-02  2013-12-02  ...  0.000466    Monday
1    2013-12-01  2013-12-01  ...  0.000652    Sunday
2    2013-11-30  2013-11-30  ...  0.000448  Saturday
3    2013-11-29  2013-11-29  ...  0.000452    Friday
4    2013-11-22  2013-11-22  ...  0.002464    Friday
...         ...         ...  ...       ...       ...
3700 2013-06-11  2013-06-11  ...  0.003512   Tuesday
3701 2013-06-10  2013-06-10  ...  0.002936    Monday
3702 2013-06-09  2013-06-09  ...  0.008919    Sunday
3703 2013-06-08  2013-06-08  ...  0.006643  Saturday
3704 2013-06-07  2013-06-07  ...  0.000439    Friday

[3705 rows x 22 columns]

In [0]:
day=df.groupby('weekday')['CPI'].mean()
day

weekday
Friday       0.004097
Monday       0.002910
Saturday     0.002629
Sunday       0.003688
Thursday     0.003398
Tuesday      0.003040
Wednesday    0.002981
Name: CPI, dtype: float64

In [0]:
day.nlargest(1)

weekday
Friday    0.004097
Name: CPI, dtype: float64

THE DAY THAT IS THE MOST EXPENSIVE TO GENERATE IMPRESSIONS IS FRIDAY

In [0]:
day.nsmallest(1)

weekday
Saturday    0.002629
Name: CPI, dtype: float64

THE BEST(CHEAPEST) DAY TO GENERATE IMPRESSIONS IS SATURDAY

##CORRELATIONS##

In [0]:
correl = df.corr()
correl

                                   Reach  ...       CPI
Reach                           1.000000  ...  0.028005
Frequency                       0.334101  ... -0.018217
Impressions                     0.966851  ...  0.006973
Clicks                          0.709466  ...  0.088315
Unique Clicks                   0.722249  ...  0.086798
Amount Spent (USD)              0.703124  ...  0.119201
Page Likes                      0.304388  ...  0.143931
Page Engagement                 0.597648  ...  0.117141
Post Engagement                 0.605244  ...  0.108649
Post Likes                      0.151727  ...  0.106425
Post Comments                   0.100254  ...  0.074364
Post Shares                     0.153288  ...  0.090520
Photo Views                     0.205678  ...  0.084764
Website Clicks                  0.858860  ...  0.071118
Cost per Page Like (USD)        0.646366  ...  0.088785
Cost per Page Engagement (USD)  0.168697  ...  0.150591
CPI                             0.028005  ...  1.000000

[17 rows x 17 columns]

In [0]:
specifications=correl.iloc[[0,1,4,6],5]
specifications

Reach            0.703124
Frequency        0.130201
Unique Clicks    0.882993
Page Likes       0.757612
Name: Amount Spent (USD), dtype: float64

In [0]:
maxspec = specifications.nlargest(1)
maxspec

Unique Clicks    0.882993
Name: Amount Spent (USD), dtype: float64

THE STRONGEST CORRELATIONS IS UNIQUE CLICKS. THIS MEANS THAT AS AMOUNT SPENT INCREASES, UNIQUE CLICKS WILL INCREASE MORE THAN THE OTHER THREE VARIABLES.

##LINEAR REGRESSION##

In [0]:
import statsmodels.api as sm

In [0]:
dv=df['Unique Clicks']

In [0]:
iv=df[['Reach','Frequency']]

In [0]:
l=sm.OLS(dv,iv)

In [0]:
r=l.fit()

In [0]:
r.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                                 OLS Regression Results
=======================================================================================
Dep. Variable:          Unique Clicks   R-squared (uncentered):                   0.557
Model:                            OLS   Adj. R-squared (uncentered):              0.556
Method:                 Least Squares   F-statistic:                              2325.
Date:                Thu, 14 Nov 2019   Prob (F-statistic):                        0.00
Time:                        04:05:37   Log-Likelihood:                         -15973.
No. Observations:                3705   AIC:                                  3.195e+04
Df Residuals:                    3703   BIC:                                  3.196e+04
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Reach          0.0019   3.12e-05     62.490      0.000       0.002       0.002
Frequency      3.6139      0.298     12.109      0.000       3.029       4.199
==============================================================================
Omnibus:                     5107.616   Durbin-Watson:                   0.803
Prob(Omnibus):                  0.000   Jarque-Bera (JB):          5128392.747
Skew:                           7.331   Prob(JB):                         0.00
Kurtosis:                     184.674   Cond. No.                     9.84e+03
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 9.84e+03. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

FREQUENCY PREDICTS UNIQUE CLICKS BETTER THAN REACH. THIS MEANS THAT AN INCREASE IN FREQUENCY IS MORE LIKELY TO GENERATE UNIQUE CLICKS